<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Aula</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark header">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h1>Sistema Académico</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/index}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/terceros}">Terceros</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/programas}">Programas</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/pensums}">Pensum</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/asignaturas}">Asignaturas</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/grupos}">Grupos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/aulas}">Aulas</a></li>
                    <li class="nav-item"><a href="#" class="btn btn-warning btn-lg ms-3">Matricular</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="cabecera-tabla mb-3 container">
            <h1 th:text="${accion} + ' Aula'"></h1>
        </div>

        <form th:action="${aula.id != null} ? @{/aulas/{id}(id=${aula.id})} : @{/aulas}"
              th:object="${aula}" method="post" class="form-aulas">

            <div class="form-group mb-3">
                <label for="bloqueAula" class="form-label">Bloque</label>
                <input type="text" th:field="*{bloque}" class="form-control" placeholder="Ingresar bloque del aula" required>
            </div>

            <div class="form-group mb-3">
                <label for="numeroAula" class="form-label">Aula Aula</label>
                <input type="text" th:field="*{aula}" class="form-control" placeholder="Ingresar " required>
            </div>

            <div class="form-group mb-3">
                <label for="descripcionAula" class="form-label">Descripción</label>
                <input type="text" th:field="*{descripcion}" class="form-control" placeholder="Ingresar descripción del aula" required>
            </div>

            <div class="box-footer mt-4">
                <button class="btn btn-success" type="submit" th:text="${accion}"></button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
